<!-- header.html -->
<header>
    <section class="py-0 text-center container">
        <div class="row py-lg-0">
            <div class="col-lg-6 col-md-8 mx-auto"><h1 class="fw-light">Сайт студентов</h1>
                <p class="lead text-body-secondary">Добро пожаловать на сайт студентов!</p>
                <p>
                    <a href="{% url 'students:student_create' %}" class="btn btn-primary my-2">Добавить студента</a>
                    <a href="{% url 'students:about' %}" class="btn btn-secondary my-2">На главную</a>
                </p>
            </div>
        </div>
    </section>
</header>
